<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
  <!-- To save as <CATALINA_HOME>\webapps\helloservlet\WEB-INF\web.xml -->
 <welcome-file-list>
    <welcome-file>myAtm.html</welcome-file>
  </welcome-file-list> 
   <servlet>
      <servlet-name>AtmServlet</servlet-name>
      <servlet-class>atm.AtmServlet</servlet-class>
   </servlet>
 
   <servlet-mapping>
      <servlet-name>AtmServlet</servlet-name>
      <url-pattern>/action</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>AtmServlet2</servlet-name>
      <servlet-class>atm.result</servlet-class>
   </servlet>
 
 
   <servlet-mapping>
      <servlet-name>AtmServlet2</servlet-name>
      <url-pattern>/result</url-pattern>
   </servlet-mapping>
   
    <servlet>
      <servlet-name>AtmServlet3</servlet-name>
      <servlet-class>atm.deposit</servlet-class>
   </servlet>
  
   <servlet-mapping>
      <servlet-name>AtmServlet3</servlet-name>
      <url-pattern>/deposit</url-pattern>
   </servlet-mapping>
   
    <servlet>
      <servlet-name>AtmServlet4</servlet-name>
      <servlet-class>atm.withdraw</servlet-class>
   </servlet>
 
 
   <servlet-mapping>
      <servlet-name>AtmServlet4</servlet-name>
      <url-pattern>/withdraw</url-pattern>
   </servlet-mapping>
</web-app>