div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #808080;
	clear:left;
	text-align: center;
}
header{
	 height: 15%;
}
footer{
	 height: 5%;
}
.heading{
	font-size: 40;
	padding-top: 0%;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}   
nav ul a {
    text-decoration: none;
	color: black;
}

nav .navRight{
    float: right;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

article {
    margin-left: 170px;
	margin-right: 170px;
	border-left: 3px solid gray;
	border-right: 3px solid gray;
    padding: 1em;
	height: auto;
	min-height:420px;
    overflow:hidden;	
}

.innerButton{
	background-color: gray;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.imgdata, .builddata,.imgdata1, .builddata1{
    padding: 5px;
    text-align: center;
    border: solid 1px #c3c3c3;	
}

.outputImg, .outputImg1, .outputBuild, .outputBuild1{
	padding: 5px;
    text-align: center;
    border: solid 1px #c3c3c3;	
}
.imgdata, .imgdata1{
	height: 180px;
	width: 190px;
}

.builddata,.builddata1 {
    width: 140px;
	padding: 30px;
    display: none;
	list-style-type: none;
	margin-left : 0px;
}

.outputBuild, .outputBuild1{
    width: 170px;
	padding: 10px;
    display: block;
	margin-left : 0px;
}
 
div table tr td{
	display: block;
	float: left;
	margin: 20px;
}

table{
	border-spacing: 50px;
}
